$colors: (
  primary: (
    "cyan": hsl(185, 75%, 39%),
    "blue-400": hsl(227, 10%, 46%),
    "blue-600": hsl(229, 23%, 23%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 59%),
  ),
);
